header{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activities{
  overflow-y: scroll;
}

.activities-list-header{
  display: flex;
  font-size: 35px;
  margin-right: 20px;
}
.activities-list-header span{
  display: flex;
  font-size: 35px;
  margin-right: 20px;
  width: 155px;
}

.activity-list-item{
  display: flex;
  margin-top: 5px;
}

.activity-item{
  width: 165px;
}

.date-item{
  width: 185px;
}

.category-item{
  width: 155px;
}

.hide{
  display: none;
}

.hide-radio{
  display: none;
}

.passed-date{
  width: 185px;
  color: red;
}
